*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body{
    background-color: #f5f9eb;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* TODO Project */

.container-todo{
    background: #fcfff3;
    padding: 50px;
}

.input-todo{
    padding: 15px;
    border: none;
    outline: none;
    background: #f5f9eb;
    width: 300px;
    margin-right: 10px;
}

.button-todo{
    border-radius: 100px;
    background: #454545;
    padding: 5px;
    outline: none;
    color: #fff;
    border: none;
    padding: 10px ;
    cursor: pointer;
}

.todos-list{
    margin-top: 3rem;
}

.todo{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f9eb;
    padding: 7px 20px;
    margin: 10px;
    font-family: sans-serif;
}

.close-todo{
    padding: 5px 10px;
    cursor: pointer;
}


/* Counter Project */

.container-counter{
    height: 90vh;
    width: 100%;
    padding: 0;
    background-color: black;
    color: white;
    text-align: center;
}

.number-counter{
    padding-top: 20%;
    font-size: 70px;
}

.btns-container-counter{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-counter{
    padding: 10px 30px;
    border-radius: 10px;
    background-color: orange;
    color: white;
    cursor: pointer;
    font-size: 30px;
}



/* Meals Project */

.items-container{
    width: 100%;
    background: black;
    color: rgb(152, 151, 151);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.card{
    width: 300px;
}

.card img{
   width: 100%;
    height: 300px;
    object-fit: cover;
}

.content{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}